{% extends 'site.html' %}

{% block title %}Create Profile{% endblock %}
{% block head %}
  {{ super() }}
  <!-- More head stuff would go here, like JS or CSS. -->
{% endblock %}

{% block content %}
<h1>Create Profile</h1>
<form method='POST' action='{{ url_for("profile") }}' enctype='multipart/form-data'>
  {% if message %}
  <div class='alert alert-danger' role='alert'>
      {{ message }}
  </div>
  {% endif %}

  <div class='form-group'>
    <label for='username'>Username</label>
    <input type='text' class='form-control' name='username' id='username'>
  </div>

  <div class='form-group'>
    <label for='password'>Password</label>
    <input type='password' class='form-control' name ='password' id='password'>
  </div>

  <div class='form-group'>
    <label for='email'>Email</label>
    <input type='email' class='form-control' name='email' id='email'>
  </div>

  <div class='form-group'>
    <label for='profilePic'>Profile Picture</label>
    <input type='file' class='form-control-file' name='profilePic' id='profilePic'>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Create Profile</button>
</form>

<p>Already have an account? <a href='{{ url_for("login") }}'>Login</a></p>
{% endblock %}
